/*Author: Nurul Hidayah Binti Saharudin
    Student ID: 2020847026
    Date: 07 June 2021
*/

body{
	background-color: #F4D7AC;}

.grid-banner h1{
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 250px;
  background-image: url("banner.jpg");
  display: flex;
  background-size: cover;
  font-family: Lucida Console, monospace;}

#myheader{
	text-align: center;
	font-family: Lucida Console, monospace;
	font-size: 300%;
	color: black;
	padding: 30px;}

p{
	text-align: center;
	color: #533317;
	font-family: Courier New, monospace;
	font-size: 150%;}

nav.topnav {
	list-style-type: none;
	overflow: hidden;
	background-color: #D9A476;
	margin: 5;
	padding: 5;}

nav.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;}

nav.topnav a:hover {
  background-color: #CF8C52;
  color: black;}

nav.topnav a.active {
  background-color: #9B5F2B;
  color: white;}

#myimg{
	border: 5px solid #533317;
	padding: 15px;
	width: 300px;
	height: 400px;
	margin-right: auto;
	margin-left: auto;
	display: block;}

#info{
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;}

#info th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #91745C;
  color: white;}

#info td, #info th {
  border: 2px solid #545450;
  padding: 8px;
  align-content: center;}

#info tr:nth-child(even){
	background-color: #D9A476;}

#info tr:hover {
	background-color: #B5A197;}

div.gallery{
	margin: 10px;
	border: 0px solid #ccc;
	float: center;
	width: 200px;}

div.gallery:hover {
  border: 0px solid #777;}

div.gallery img {
  width: 100%;
  height: auto;}

div.desc {
  padding: 15px;
  text-align: center;}

footer.fixed-footer{
	font-size: 10px;
	bottom: 5;
}

#skills, #achievements{
  font-family: Lucida Console, monospace;
  background-image: url("beige.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 100%;
  color: white;
  padding: 20px;
}

legend{
  font-size: 200%;
  font-weight: 10000;
  color: #670305;
}

h2.tech{
  color: #F56B39;
}

h3.desc-tech{
  color: #94553D;
}

ul.list{
  color: black;
}

ul.list li{
  padding: 5px;
}
ul.list li:hover {
  background-color: #B5A197;}

#achieve{
  width:100%;
}

#achieve tr {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: black;}

#achieve td {
  padding: 15px;
  align-content: center;}

#achieve tr:hover {
  background-color: #B5A197;}

div.photo img{
   width: 250px;
   height: 250px;
 }


#contact{
  color: #F56B39;
  font-size: 30px;
  font-family: Courier New, monospace;
}

#contact-table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;}

#contact-table td {
  padding: 2px;
  align-content: center;}

#contact-table tr:nth-child(even){
  background-color: #D9A476;}

#contact-table tr:hover {
  background-color: #B5A197;}


nav.navcontact {
  list-style-type: none;
  overflow: hidden;
  background-color: #D9A476;
  margin: 10;
  padding: 10;}

nav.navcontact td,a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 15px;}

 div.logo img{
  width: 80px; 
  height: 80px;
 }

p.enquiries{
  text-align: center;
  color: #533317;
  font-family: Courier New, monospace;
  font-size: 80%;}